.MainMenu {
    padding-bottom: 3em;
}

.Menu {
    color: var(--sec);
    background: var(--qui);
    border: 1em solid var(--pri);
    border-radius: 1em;
    outline: 2px solid var(--sec);
    outline-offset: -1em;
    padding: 1em;
    width: 29.5em;
    z-index: 10;
}

.Menu.Center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 1em;
}

.Menu .BackBtn {
    --tri-size: 13px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-top: var(--tri-size) solid transparent;
    border-bottom: var(--tri-size) solid transparent;
    border-right: calc(var(--tri-size) * 2 * 0.866) solid var(--sec);
    position: absolute;
    top: 0.34em;
    left: -1.5em;
    width: 0;
    height: 0;
}

.Menu .BackBtn:hover {
    cursor: pointer;
    border-right: calc(var(--tri-size) * 2 * 0.866) solid var(--ter);
}

.Menu h1 {
    border-bottom: 2px solid var(--sec);
    width: 75%;
    margin: 0;
    text-align: center;
    position: relative;
}

.Menu .MenuLogo {
    width: 50%;
    margin: 2em 0 2em;
}

.Menu .MapPlaceholder {
    background: var(--qua);
    box-sizing: border-box;
    width: 100%;
    height: 25em;
}

.Menu nav, .Menu form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1em;
    box-sizing: border-box;
    width: 75%;
}

.Menu nav.Center, .Menu form.Center {
    align-items: center;
}

.Menu nav .Button {
    text-decoration: none;
    margin: 0;
    font-size: 22px;
}

.Menu nav .Button:visited {
    color: var(--sec);
}

.Menu nav .Button:hover {
    color: var(--ter);
    cursor: pointer;
}

.Menu form .Row{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 5px;
    box-sizing: border-box;
    width: 30em;
}

.Menu form .Row.Center {
    justify-content: center;
}

.Menu form .Row.Space {
    justify-content: space-between;
}

.Menu form .Row.SpaceEven {
    justify-content: space-evenly;
}

.Menu form label {
    box-sizing: border-box;
    width: 5em;
}

.RegisterMenu form label {
    box-sizing: border-box;
    width: 8em;
}

.Menu form select {
    color: var(--sec);
    background: var(--qua);
    border: none;
    box-sizing: border-box;
    width: 10em;
    font-size: 16px;
}

.Menu form input {
    color: var(--sec);
    background: var(--qua);
    border: none;
    width: 5em;
    font-size: 16px;
}

.Menu form input[type=submit]:hover,
.Menu form input[type=button]:hover,
.Menu form input[type=reset]:hover{
    color: var(--ter);
    cursor: pointer;
}

.Menu form input[type=text],
.Menu form input[type=password],
.Menu form input[type=email] {
    width: 10em;
}