* {
    --pri: #92b1fc;
    --sec: #ad7ffa;
    --ter: #f493b6;
    --qua: #cbcff5;
    --qui: #e3e6fc;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(110vh);
    }
}

:root{
    background: var(--qua);
}

.Logo {
    position: fixed;
    top: 0;
    z-index: -10;
    transform-origin: center;
}

.Logo img.Spin {
    transform-origin: center;
    animation: spin 3s linear infinite;
}

.Logo.Fall {
    animation: fall 4s linear infinite;
}